.container {
    margin-top: 50;
    padding-top: 75;
    border-width: 15;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-inner-container {
    width: 75%;
}

.instruction {
    font-size: 14pt;
    margin-top: .6cm;
}
  